* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    background-color: #f4f4f4; 
    color: #333; 
    padding: 20px;
}

header {
    background: #487712;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 20px;
}

main {
    background: #7f9e65;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px; 
}